---
Checks:          '*,-fuchsia-*,-zircon-*,-altera-*,-android-*,-darwin-*,-hicpp-*,-linuxkernel-*,-google-*,-llvm-*,-llvmlibc-*,-objc-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     'google'
